{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
            <!-- Facebook icon -->
        <a href="https://www.facebook.com/7amoudf" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook"></i>
        </a>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
