{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}

    </div>
    <div class="technologies-page">
        <h1 class="title">Technologies page</h1>
        <a href="technology" class="box box-1">Technology 1</a>
        <a href="technology" class="box box-2">Technology 2</a>
        <a href="technology" class="box box-3">Technology 3</a>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
