{% include 'incl/header.twig' %}
<body>
    {% include 'incl/nav.twig' %}
    {{ content }}
    <div class="tech">
        <div class="sidebar">
            <a href="technology">Tech 1</a><br>
            <a href="technology">Tech 2</a><br>
            <a href="technology">Tech 3</a><br>
        </div>

        <div class="content">
            <h1>Technology Page</h1>
            <p>This is a sample content for the technology page.</p>
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>
</html>