{% include 'incl/header.twig' %}
<body>
    {% include 'incl/nav.twig' %}
    <div class="tech">
        <div class="sidebar">
            <h1>Technologies</h1>
            <a href="css">CSS</a><br>
            <a href="git">GIT</a><br>
            <a href="html">HTML</a><br>
            <a href="javascript">JavaScript</a><br>
            <a href="php">PHP</a><br>
            <a href="python">Python</a><br>
            <a href="sqlite">SQLite</a><br>
        </div>

        <div class="content">
            {{ content }}

        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>
</html>
