{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}

    </div>
    <div class="technologies-page">
        <h1 class="title">Technologies page</h1>
        <a href="technology/css" class="box box-1">CSS</a>
        <a href="technology/html" class="box box-2">HTML</a>
        <a href="technology/javascript" class="box box-3">JavaScript</a>
        <a href="technology/php" class="box box-4">PHP</a>
        <a href="technology/python" class="box box-5">Python</a>
        <a href="technology/git" class="box box-6">GIT</a>
        <a href="technology/sqlite" class="box box-7">SQLite</a>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
