@import 'variables';
@import '../../node_modules/normalize.css/normalize';

@import 'blockquotes';
@import 'code';
@import 'media';


body {
    background-color: $background-alternative-color
}

* {
    color: $font-alternative-color;
    font-family: $nova-square;
    @include font-width;
}

.home-img {
    @include home-img-dark;
    @include home-img-hov-dark;
    @include media {
        margin: 10px;
    }
}

.logo-pic {
    @include logo-pic-dark;
    @include logo-pic-hov
}

.logo {
    @include logo;
}

ul {
    @include navbar;
}

.technologies-page {
    @include technologies-page;

    .title {
        @include title-dark;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.box {
    @include box-dark;
    @include media {
        padding: 10px;
    }
    
    &:hover {
        transform: scale(1.2);
    }
}

.tech {
    @include tech;
}

.sidebar {
    @include sidebar;
}

.content {
    @include content;
}

@include sidebar-media {
    .sidebar {
        display: none;
    }
}

code {
    @include code-dark;
}

pre {
    @include pre-dark;
}

.nav a:hover {
    color: $box-color-dark;
}

.color-bg {
    @include color-bg;
}

.fk-link:hover {
    color: $box-color-dark;
}

.report-img {
    @include report-img-dark;
}
